
node_modules
.npm
npm-debug.log*


dist
build
.svelte-kit
.next
.cache


.DS_Store
.vscode
.idea
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?


.git
.gitignore


.env
.env.local
.env.development.local
.env.test.local
.env.production.local


Dockerfile
docker-compose.yml
