
ml/venv/
backend/venv/
venv/
.venv/
env/
.env


*.pyc
*.pyo
*.pyd
.pytest_cache/


ml/data/
ml/new_plots/
ml/evaluate/
ml/scripts/



ml/new_trained_models/*



.vscode/
.idea/
.git/
.gitignore


.ipynb_checkpoints/
*.ipynb


.DS_Store
Thumbs.db
