POSTGRES_USER=admin
POSTGRES_PASSWORD=dbpassword
POSTGRES_DB=road_signs_eval
POSTGRES_HOST=db
POSTGRES_PORT=5432

YOLO_MODEL_PATH=models_ai/best.pt
CNN_MODEL_PATH=models_ai/cnn_48_v1.keras

ENVIRONMENT=dev
FRONTEND_URL=http://localhost:5173
