# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
runs/
# Virtual environment
venv/
ml/venv/

# environment
.env

# =========================
# DATASETS (NIE wrzucamy danych do repo)
# =========================
ml/data/
ml/images/
ml/others/

# =========================
# MODELE (duże pliki .pt / .h5)
# =========================
ml/trained_models/
ml/new_trained_models/
*.pt
*.h5
*.keras
*.weights

ml/YOLO/

# =========================
# WYKRESY / GENEROWANE PLIKI
# =========================
ml/plots/
ml/Magisterka/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# SYSTEM
# =========================
.DS_Store
Thumbs.db


# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# LOGI
# =========================
*.log

runs/
ml/debug_crops/
ml/videos/
ml/experiments/
ml/example/
ml/zdjecia/
ml/scripts/plots_tl.ipynb
ml/new_plots
*.jpg
*.png


backend/app/static/



